<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'><a href='/'>Home</a></li>
    <li class='breadcrumb-item active' aria-current='page'>View User</li>
  </ol>
</nav>

<div class='view-user p-5'>
  {{#each rows}}
    <div class='row bb-5'>
      <div class='col text-center'>
        <h3>{{first_name}} {{last_name}}</h3>
      </div>

      <table class='table table-hover table-bordered'>
        <thead>
          <tr>
            <th scope='col'>First Name</th>
            <th scope='col'>Last Name</th>
            <th scope='col'>Email</th>
            <th scope='col'>Phone #</th>
            <th scope='col'>Comment</th>
            <th scope='col'>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{comment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/each}}
</div>